[Unit]
Description=Aptos
After=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/aptos-node -f /root/mainnet/validator.yaml
Restart=on-failure
RestartSec=3s
LimitNOFILE=999999

[Install]
WantedBy=multi-user.target
